<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/zero.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
  <%-include("header.ejs")%>

  <h1>Кінотеатри міста</h1>

  <div class="container">
    <%for (cinema of cinemasList) {%>
      <div class="card-cinema">
        <a href="<%=cinema.site%>">
          <div class="image-cinema" style="background-image: url(<%=cinema.img%>);"></div>
          <div class="title-cinema"><strong><%=cinema.title%></strong></div>
          <div class="year-cinema"><%=cinema.address%></div>
        </a>
      </div>
    <%}%>
  </div>

  <%-include("footer.ejs")%>
</body>

</html>