<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('header'); %>
    <h1><%= title %></h1>
    <h2>Films number : <%= filmsCount %></h2>

    <%for(film of filmsList){ %>
      
      <div class="films-container">
        <a href="/films/<%=film.id%>"><div><%=film.title%></div></a>
        <div><%=film.year%></div>
        <div><%=film.genre%></div>
        <div><img src="/uploads/<%=film.poster%>" alt="" class="image-icon"></div>
        <a href="/films/delete/<%=film.id%>"><button>X</button></a>
      </div>
    
    <%}%>
    
  </body>
</html>
