<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('components/header') %>
    <h1><%= title %></h1>
    <a href="authors/new">Add a new author</a>
    <h2>Authors number : <%= authorsCount %></h2>

    <%for(author of authorsList){ %>
      
      <div class="authors-container">
        <div><img src="/uploads/<%=author.img%>" alt="" class="image-icon-authors"></div>
        <a href="/authors/<%=author.id%>"><div><%=author.name%> <%=author.surname%></div></a>
        <a href="/authors/edit/<%=author.id%>">Edit</a>
        <a href="/authors/delete/<%=author.id%>">X</a>
      </div>
    <%}%>
    
  </body>
</html>
