<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('components/header') %>
    <h1><%= title %></h1>
    <a href="autors/new">Add a new autor</a>
    <h2>autors number : <%= autorsCount %></h2>

    <%for(autor of autorsList){ %>
      
      <div class="autors-container">
        <a href="/autors/<%=autor.id%>"><div><%=autor.name%></div></a>
        <div><%=autor.surname%></div>
        <div><img src="/uploads/<%=autor.img%>" alt="" class="image-icon"></div>
        <a href="/autors/delete/<%=autor.id%>"><button>X</button></a>
      </div>
    <%}%>
    
  </body>
</html>
