<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('components/header') %>
    <h1><%= title %></h1>
    <h4><%=book.genre%></h4>
    <h2><%=book.title%></h2>
    <h2>author: <%=book.author%></h2>
    <div><img src="/uploads/<%=book.img%>" alt="" class="image-icon-book"></div>
    <h3>Description</h3>
    <p><%=book.description%></p>
  </body>
</html>
