<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('components/header') %>
    <h1><%= title %></h1>
    <a href="books/new">Add a new book</a>
    <h2>books number : <%= booksCount %></h2>

    <%for(book of booksList){ %>
      
      <div class="books-container">
        <div><img src="/uploads/<%=book.img%>" alt="" class="image-icon-books"></div>
        <a href="/books/<%=book.id%>"><div><%=book.title%></div></a>
        <div><%=book.year%></div>
        <div><%=book.author%></div>
        <div><%=book.genre%></div>
        <a href="/books/edit/<%=book.id%>">edit</a>
        <a href="/books/delete/<%=book.id%>">X</a>
      </div>
    
    <%}%>
    
  </body>
</html>
