<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('components/header') %>
    <h1 class="my"><%= title %></h1>
    <form action="/authors/update/<%=author.id%>" enctype="multipart/form-data" method="post">
      <!-- <input type="hidden" name="id" value="<%=author.id%>"> -->

      <label>author name <input type="text" name="name" value="<%=author.name%>"></label>
      <br>
      <label>Surname <input type="text" name="surname" value="<%=author.surname%>"></label>
      <br>
      <input type="submit" value="Надіслати">
      <br>
      <label>Img <input type="file" name="img" multiple></label>
  </form>
  
  </body>
</html>
